<% @messages.each do |message| %>
  <div class="message">
    <h3>
      <a href="/messages/<%= message.id %>"><%= message.title %> </a> 
      <!-- <small>(by: <%= message.author %>)</small> -->
      <small>(url: <%= message.url %>)</small>
      </h3>
    <p>
      <%= message.content %> <br>
      created at: <%= message.created_at %> <br>
      updated at: <%= message.updated_at %>
    </p>
  </div>
<% end %>

<hr/>
<a href="/messages/new">Post a message... It's FREE (for now)!</a>